<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.box {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	background-color: white;
	background-image: white;
  	height: 80vh;
}
.login-form {
  	min-width: 250px;
  	max-width: 400px;
	border-radius: 24px;
	padding: 15px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-form h1 {
	text-align: center;
	font-size: 2.5rem;
	margin-top: 35px;
}
.login-form input[type = "text"] {
	margin-top: 30px;
}
.login-form input[type = "password"] {
	margin-top: 10px;
}
input {
  outline: none;
 }
.links {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.links > a:first-of-type {
	margin-right: 5px;
}
.links > a {	
	background-color: #E0E0E0;
	border-radius: 24px;
	font-weight: 400;
	color: black;
	line-height: 12px;
	flex: 1;
	text-align: center;
	padding: 10px;
	text-decoration: none;
  font-family: 'Raleway';
	transition: 0.25s;
}
.links > a:hover {	
	opacity: 0.6;
}
.login-form input[type = "submit"] {
	background-color:  #E0E0E0;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	width: 100%;
	color: white;
  	border: none;
	margin-top: 35px;
  	cursor: pointer;
	padding: 10px;
  	font-family: 'Raleway', sans-seriff;
  	font-size: 1.3rem;
	font-weight: bold;
	border-radius: 24px;
	transition: 0.25s;
}
.login-form input[type = "submit"]:hover {
	opacity: 0.8;
}
.login-form input[type = "text"]:focus, .login-form input[type = "password"]:focus {
 	border: 2px #21D4FD solid;
 }
.login-form input[type = "text"], .login-form input[type = "password"] {
	width: 100%;
	border: none;
	border-radius: 24px;
  	font-size: 1rem;
  	font-family: 'Raleway', sans-seriff;
	background-color: gainsboro;
	padding: 15px;
} 
  </style>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          <%for(i=0;i<nav.length;i++){%>
        <li>
          <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1> Add Author
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  <div class="box" style="padding: -500px;">
		<form class="login-form">
			
			<input type="text" name="username" placeholder="Enter Author name" required>
			<input type="text" name="username" placeholder="Enter Author's famous book name" required>
            <input type="text" name="username" placeholder="Enter Genre name" required>

            <label style="margin-top:20px;">Brief Description of Author</label><br>
            <textarea id="Authdesc" name="Authdesc" palceholder="Brief Description of Author" style="margin-top: 15px;width: 350px;height: 100px;" required></textarea>
            <label style="margin-top:20px;">Upload Author's Image</label>
            <input class="text" type="file" id="bookFile" name="file" required="" >
                   
			<input type="submit" name="Login" value="ADD AUTHOR">
			
			</button>
		</form>
		
	</div>
  



        

         





	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>